#delete{
	float:right;
}

#beifeng{
	float: right;
	margin-right: 3%;
	width: 30%;
	margin-bottom: 1%;
}

#title{
	width: 20%;
}

#myTable{

}

#formbutton{
	margin-right:2%;
}

#form{
	
}

#beifengbutton{
	margin-right:2%;
	float: right;
	
}
