<!DOCTYPE html>
<html>
<head>
	<title>iGO-评论</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../javascripts/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="../javascripts/admin_comments.js"></script>

	<style>
	td, th{
		text-align: center;
	}
	.glyphicon{
		color:#d54545;
	}
	td a{

	}
</style>
</head>
<body>
<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/admin_general">概览</a></li>
					<li><a href="/admin_admin">管理员</a></li>
					<li><a href="/admin_user">用户</a></li>
					<li><a href="/admin_products">商品</a></li>
					<li><a href="/admin_orders">订单</a></li>
					<li><a href="/admin_status">帖子</a></li>
					<li><a href="/admin_activity">活动</a></li>
					<li class="active"><a href="/admin_comments">评论</a></li>	
				</ul>

				<ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			    </ul>
			</div>
		<div>	
	</nav>



</body>
</html>