<html>
<head>
<title>iGO管理员登录</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="javascripts/admin_index.js"></script>
</head>
<body>

<div class="container">

<!-- 占位符 -->
<div style="height:100px;"></div>
<form method="post" action="/admin_general" id="loginForm">

<h3 class="page-header">iGo后台登录</h3>
<br/>

<div class="alert alert-danger text-center" style="display:none;" role="alert">输入错误</div>
<!-- 用户名 -->
<div class="row">

	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="input-group input-group-lg">
 			<span class="input-group-addon" id="basic-addon1">iGo</span>
 			<input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
	</div>
	<div class="col-md-4"></div>

</div>

<br/>

<!-- 密码 -->
<div class="row">

	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="input-group input-group-lg">
 			<!-- <span class="input-group-addon" id="basic-addon1">iGo</span> -->
 			<input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
 			<span class="input-group-addon btn btn-success" id="loginButton">Login</span>
		</div>
	</div>
	<div class="col-md-4"></div>

</div>
</form>



</body>
</html>