<html>
<head>
<title>iGO后台首页</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="javascripts/admin_index.js"></script>

<style>
.numberText{
	font-size:20px;
	padding-left:10px;
	/*color:#69c7e7;*/
}
</style>

</head>
<body>

<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">概览</a></li>
					<li><a href="#">管理员</a></li>
					<li><a href="#">用户</a></li>
					<li><a href="#">商品</a></li>
					<li><a href="#">订单</a></li>
					<li><a href="#">帖子</a></li>
					<li><a href="#">活动</a></li>
					<li><a href="#">评论</a></li>	
				</ul>
			</div>
		<div>	
	</nav>

	<div style="height:200px;"></div>
	<div class="container">


		<div class="row">
			<!-- 管理员 -->
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-sunglasses" style="font-size:80px;"></span>
				<span class="numberText">99</span>
			</div>

			<!-- 用户 -->
			<div class="col-md-3">
				<span class="glyphicon glyphicon-user" style="font-size:80px;"></span>
				<span class="numberText">36</span>
			</div>

			<!-- 商品 -->
			<div class="col-md-3">
				<span class="glyphicon glyphicon-shopping-cart" style="font-size:80px;"></span>
				<span class="numberText">242</span>
			</div>
			<div class="col-md-1"></div>

		</div>
		<div style="height:100px;"></div>

		<div class="row">
			<div class="col-md-2"></div>
			<!-- 订单 -->
			<div class="col-md-3">
				<span class="glyphicon glyphicon-check" style="font-size:80px;"></span>
				<span class="numberText">289</span>
			</div>

			<div class="col-md-3">
				<span class="glyphicon glyphicon-file" style="font-size:80px;"></span>
				<span class="numberText">289</span>
			</div>
			
			<div class="col-md-3">
				<span class="glyphicon glyphicon-comment" style="font-size:80px;"></span>
				<span class="numberText">289</span>
			</div>
			<div class="col-md-1"></div>
		</div>



	</div>
</body>
</html>