<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/admin_admin.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/iGo.css">
	<script type="text/javascript" src="../javascripts/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="../stylesheets/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../javascripts/admin_products.js"></script>
	<script type="text/javascript" src="../javascripts/jquery.md5.js"></script>
	<title>
		iGo后台-商品
	</title>
	<script type="text/javascript">
		$(document).ready(function(){
			// $('#submit').click(function(){	
			// 	var name = $('#name').val();
			// 	var region = $('#region').val();
			// 	var factory = $('#factory').val();
				// $('#npnote').hide();
				// if(name.length == 0 || region.length == 0||factory.length == 0) {

				// 	$('#npnote').show();	
				// }else {
				// 	$('#myModal').modal('hide');
				// 	$('#submitModal').modal('show');

				// 	$('input[type="file"]').change(function(){

				// 	});
					// console.log("#####");
					// setTimeout("$('#form').submit()",2000);

					// alert("信息添加成功");
				// }		
			// });

		});

		function onSale(i,j,m,n){
			window.location.href="/admin_products/onSale?id="+i+"&value="+j+"&cid="+m+"&category="+n;
		}
		function d(i,j,m){
			window.location.href="/admin_products/delete?id="+i+"&cid="+j+"&category="+m;

		}
	</script>
</head>
<body>
	<!-- 导航条 -->

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li><a href="admin_user">用户</a></li>
					<li class="active"><a href="admin_products">商品</a></li>
					<li><a href="admin_orders">订单</a></li>
					<li><a href="admin_status">帖子</a></li>
					<li><a href="admin_activity">活动</a></li>
					<li><a href="admin_comments">评论</a></li>	
				</ul>

				 <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			      </ul>

			</div>
		<div>	
	</nav>
	
  		<!-- model -->
		<!-- <div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="text-align: center;margin-top: 100px">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content" > -->
		    <!-- head -->
		     <!--  <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">信息添加</h4>
		      </div> -->
		      <!-- body -->
		      <!-- <div class="modal-body" style="margin: 0 auto;"> -->
		      <!-- form -->
		      	<form method="post" action="/admin_products" id="form"  enctype="multipart/form-data" style="margin-top: 100px">

			        <div class="input-group " style="width: 400px; margin: 0 auto;">
					  <span class="input-group-addon" >名称</span>
					  <input type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" id="name" name="name">
					</div>
					
					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >产地</span>
					  <input type="text" class="form-control" placeholder="region" aria-describedby="sizing-addon2" id="region" name="region">
					</div>
					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >厂家</span>
					  <input type="text" class="form-control" placeholder="factory" aria-describedby="sizing-addon2" id="factory" name="factory">
					</div>

					<div class="row">
						<div class="input-group col-md-4">
						  <span class="input-group-addon" >价格</span>
						  <input type="text" class="form-control" placeholder="price" aria-describedby="sizing-addon2" name="price">
						</div>
						<div class="col-md-4"></div>
						<div class="input-group col-md-4">
						  <span class="input-group-addon" >销量</span>
						  <input type="text" class="form-control" placeholder="sale" aria-describedby="sizing-addon2" name="sale">
						</div>
					</div>

					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >库存</span>
					  <input type="text" class="form-control" placeholder="storage" aria-describedby="sizing-addon2" name="storage">
					</div>
					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >收藏</span>
					  <input type="text" class="form-control" placeholder="count" aria-describedby="sizing-addon2" name="count">
					</div>

					<div class="input-group " style="width: 400px; margin: 0 auto;padding-top: 15px;">
					  <span class="input-group-addon" >类别</span>
					  <input type="text" class="form-control" placeholder="category" aria-describedby="sizing-addon1" id="category" name="category">
					</div>
					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >上架</span>
					  <input type="text" class="form-control" placeholder="onSale" aria-describedby="sizing-addon2" name="onSale">
					</div>

					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >图片</span>
					  <input type="file" multiple class="form-control file-loading " placeholder="onSale" aria-describedby="sizing-addon2" id="pic" name="pic">
					</div>
					<div class="input-group " style="width: 400px; margin: 0 auto; padding-top: 15px;">
					  <span class="input-group-addon" >描述</span>
					  <input type="file" multiple="multiple" class="form-control file-loading" placeholder="onSale" aria-describedby="sizing-addon2" id="description" name="description">
					</div>
				</form>
				<!-- prompt -->
				<!-- <div class="row" id="npnote" style="display:none; ">
					<div class="col-md-3"></div>
					<div class="col-md-6" style="color:red;">名称／产地／厂家不能为空，请确认</div>
					<div class="col-md-3"></div>
				</div> -->
		      <!-- </div>	 -->
		      <!-- footer -->
<!-- 		      <div class="modal-footer" style="text-align: center;">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary" id="submit">确认</button>

		      </div>
 -->
	<!-- 	    </div>
		  </div>
		</div> -->
		<!-- submitModal -->
        <div class="modal  bs-example-modal-sm" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" style="text-align: center;">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
			    <div class="modal-body" style="margin: 0 auto;height: 300px">
		    		 <div class="col-md-3"></div>
					<div class="col-md-6">
						<div style="height: 50px"></div>
						<div class="row" >
							<div class="col-md-3"></div>
							<div class="col-md-6" style="text-align: center;">
								<i class=" iGo-accept " ></i>
							</div>							
							<div class="col-md-3"></div>
						</div>
						<div class="row" style="text-align: center;">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<div style="font-weight: bold;text-align: center;font-size: 20px;margin-top: 10px">添加成功</div>
							</div>							
							<div class="col-md-3"></div>
						</div>
						<div style="height: 40px"></div>
						
					</div>
					<div class="col-md-3"></div>
		    	</div> 
		    </div>
		  </div>
		</div> 

</body>
</html>