<!DOCTYPE html>
<html>
<head>
	<title>mobile_test</title>
	<script type="text/javascript" src="../javascripts/jquery-2.2.1.js"></script>
	<script type="text/javascript">
		$('#regsubmit').click(function(){
			$('#reg').submit();
		});

		$('#addressaddbutton').click(function(){
			$('#addressadd').submit();
		});

		$(document).ready(function(){

	
			var desNum = 1;
			var lastNum = desNum;

		  	$('body').on('change', 'input[type="file"]', function(){
		  		var src = getObjectURL(this.files[0]);
		  		// console.log(src);
		  		rawbackground = $(this).parent().css('background'); 
		  		console.log(rawbackground);

		  		$(this).parent().css('background', 'url(' + src + ') no-repeat center center').css('background-size', '100%');
		  		lastNum = desNum
		  		desNum++;

		  		var label='p';
		  		tmp = $(this).attr("id");
		  		if(tmp[0] == 'p'){
		  			label='p';
		  		}else{
		  			label='d'
		  		}

		  		if(rawbackground == 'rgba(0, 0, 0, 0) url("http://127.0.0.1:3000/images/activity_add.png") no-repeat scroll 50% 50% / auto padding-box border-box') {
			  		var desDom='<li style="background: url(../images/activity_add.png) no-repeat center center;list-style-type: none;margin-right:40px"><input type="file" id="'+label+desNum+'" name="'+label+desNum+'"></input></li>';
			  		$(this).parent().after(desDom);
		  		}
		  	});

		  	// 获取文件url
		  	function getObjectURL(file) {
		        var url = null;
		        if (window.createObjectURL != undefined) {
		            url = window.createObjectURL(file)
		        } else if (window.URL != undefined) {
		            url = window.URL.createObjectURL(file)
		        } else if (window.webkitURL != undefined) {
		            url = window.webkitURL.createObjectURL(file)
		        }
		        return url
		    };
			
			$('#modsubmit').click(function(){

				$('#modify').submit();
				// alert('ssss');
			});

		});

		

		function sign(){
			var tel = $('input[name="signtel"]').val();
			var password = $('input[name="signpassword"]').val();
			// alert(tel+password);
			window.location.href="/mobile_profile/login?tel="+tel+"&password="+password;
		}
		function addresslist(){
			var uid = $('input[name="address"]').val();
			// alert(id);
			window.location.href="/mobile_profile/addresslist?uid="+uid;
		}
		function count(){
			var uid = $('input[name="orderCount"]').val();
			window.location.href="/mobile_orders/count?uid="+uid;
		}

		function orderlist(){
			var uid = $('input[name="orderlist"]').val();
			window.location.href="/mobile_orders/list?uid="+uid;
		}
	</script>
	<style type="text/css">
		input[type='file']{
			width: 100%;
			height: 200px;
			overflow: hidden;
			
		    /*position:absolute;*/
		    /*right:0;
		    top:0;*/
		    opacity: 0;
		    cursor:pointer;
		    
		}
	</style>
</head>
<body>
	req
	<div>
		<h1>register</h1>
		<!-- <form method="post" id='reg' action="/mobile_profile/password_modify"> -->
		<form method="post" id='reg' action="/mobile_profile/register">
			tel:<input name="tel"></input>
			password:<input name="password"></input>
			<button id="regsubmit" type="submit">submit</button>
		</form>
	</div>
	<div>
		<h1>signin</h1>
		tel:<input name="signtel"></input>
		password:<input name="signpassword"></input>
		<button id="signin" type="submit" onclick="sign()">signin</button>	
	</div>
	<div>
		<h1>modifyprofile</h1>

		<form method="post" id='modify' action="/mobile_profile/modify">
			id:<input name="id"></input>
			name:<input name="name"></input>
			sex:<input name="sex"></input>
			<!-- <div>
				<div  class="img-rounded" style="background-color:#eeeeee;text-align: center;font-size: 15px;height: 34px;padding-top: 5px;border: 1px solid #cccccc;">
					icon
				</div>
				<ul id="descul" style="border:1px solid #cccccc;list-style-type: none">
					<li style="background: url(../images/activity_add.png) no-repeat center center;list-style-type: none;margin-right:40px">
						<input type="file" id="icon" name="icon" ></input>	
					</li>	
				</ul>
			</div> -->

			<button id="modsubmit" type="submit">submit</button>
		</form>
	</div>

	<div>
		<h1>Address_List</h1>
		uid:<input name="address"></input>
		<button onclick="addresslist()">list</button>
	</div>

	<div>
		<h1>Address_add</h1>
		<form method="post" id="addressadd" action="/mobile_profile/addressList_add">
			region:<input name="region"></input>
			address:<input name="address"></input>
			uid:<input name="uid"></input>
			tel:<input name="tel"></input>
			name:<input name="name"></input>
			<button id="addressaddbutton" type="submit">submit</button>
		</form>
	</div>
	<div>
		<h1>orderCount</h1>
		uid:<input name="orderCount"></input>
		<button onclick="count()">count</button>
	</div>

	<div>
		<h1>orderCount</h1>
		uid:<input name="orderlist"></input>
		<button onclick="orderlist()">count</button>
	</div>

</body>
</html>